Flask
Flask-OpenTracing
requests
pylint
gunicorn
prometheus-client
jaeger-client
opentelemetry-api
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation
opentelemetry-sdk
prometheus-flask-exporter